<div class="row featurette">
	<div class="col-md-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="沟通世界">
				
			</rd-widget-header>
			<rd-widget-body>
				<img class="img-responsive" style="margin: auto" src="img/mm_ch.png">
			</rd-widget-body>
		</rd-widget>
    </div>
	<div class="col-md-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="选择瑞狐">
   			</rd-widget-header>
   			<rd-widget-body>
				<div class="message">
					世界<span class="error">最大</span>的CNY网关，交易量国内第一。
				</div>
				<hr />
				<div class="message">
					流动性<span class="error">最好</span>。瑞狐联通了世界各大网关和交易所。
				</div>
				<hr />
				<div class="message">
					使用<span class="error">最方便</span>，有钱包就可完成提现或支付。
				</div>
				<hr />
				<div class="message">
					专业的金融出身团队，专业的开发队伍。
				</div>
				<hr />
				<div class="message">
					瑞狐也是世界<span class="error">最大的</span>恒星币网关。
				</div>
				<hr />
				<div class="message">
					<a href="#/create">开始学习教程 - 创建钱包</a>
				</div>
				<hr />
				<div class="message">
					<a href="https://stellar.chat/board-8.0.html" target="_blank">恒星论坛 - 讨论区块链的社区</a>
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
</div>
