<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">充值</div>
		<div class="panel-body">
			<p>
				方法一：浏览器直接打开淘宝充值主页 <a href="https://ripplefox.taobao.com/" target="_blank">瑞狐上海</a> 或者 <a href="https://shop109149722.taobao.com" target="_blank">瑞狐网关</a><br>
				方法二：淘宝主页里搜索<span class="text-danger">店铺</span>（不是宝贝），店铺名：瑞狐网关<br>
				我们有两个店，互为补充。大家可以轮换着下单。<br>
				<img class="img-thumbnail img-responsive" src="img/taobao/taobao.png">
			</p>
			
			<p>
				点选所要的金额，可以选择想要的数量，然后点立即购买。在提交订单时，填入钱包地址。<br>
				地址是G开头的那串很长的字母，要填到<strong>给卖家留言</strong>的框里。只写地址，不要有中文或空格。<br>
				<img class="img-thumbnail img-responsive" src="img/taobao/order.jpg">
			</p>
			<p>
				​在钱包中出现对应的充值金额后，回到淘宝及时<span class="text-danger">确认收货</span>。<br>
				自动发货还在开发，有问题旺旺留言即可，或到QQ群找站长。
			​</p>
			<a class="btn btn-primary btn-lg" style="width: 300px;" href="#/withdraw">
				    继续教程：提现 &gt;&gt;
			</a>
		</div>
	</div>
</div>
