<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">开源钱包</div>
		<div class="panel-body">
			<p>
				钱包是开源的。除了从QQ群566413562下载编译好的钱包外，你也可以自己直接编译。<br>
				<code><a href="https://github.com/stellarchat/desktop-client" target="_blank">https://github.com/stellarchat/desktop-client</a></code>
			</p>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">开发工具</div>
		<div class="panel-body">
			<p>
				恒星提供了很多网页工具来帮助你理解和使用API。<br>
				<code><a href="https://www.stellar.org/developers/tools/" target="_blank">https://www.stellar.org/developers/tools/</a></code>
			</p>
			<p>
				更多资源直接访问<a href="https://www.stellar.org" target="_blank">https://www.stellar.org</a>即可。
			</p>
		</div>
	</div>
</div>


