<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">兑换和交易</div>
		<div class="panel-body">
			<h4>对于小额，用兑换可以以用最优市场价成交。</h4>
			<p>
				“交易”菜单，点"Simple"，就是兑换。你直接可以选择接收哪种货币。前提是你信任了这种货币，比如信任过瑞狐的CNY，就可以兑换CNY。<br>
				如下图所示，兑换100个XRP可以用4.79 CNY市价得到。多等一会儿，瑞波就能多花点时间找到更优惠的兑换比例。<br>
				兑换不会冻结XRP，如果你的XRP不够买卖，你可以兑换几十个XRP，就又能用好久了。<br>
				建议一次兑换不要超过200元价值的货币。比如每次5000 XRP。<br>
				<img class="img-thumbnail img-responsive" src="img/trade/simple.jpg">
			</p>
			<h4>正常交易：交易的高级功能</h4>
			<p>
				交易是以交易对为核心的，为了方便，我们先添加交易对吧。点上面的add pair<br>
				<img class="img-thumbnail img-responsive" src="img/trade/addpair.jpg">
			</p>
			<p>
				XRP不需要选择网关，CNY选择RippleFox。​选好后点"Add"就加好了。那就就可以交易了。<br>
				<img class="img-thumbnail img-responsive" src="img/trade/addpair2.jpg">
			</p>
			<p>
				交易的过程就不多说了。注意价格哦。<span class="text-danger">有人可是不小心1分钱卖掉了上千万的XRP。几秒钟一栋房子没了。千万不要把价格和数量填反啦。​</span><br>
				<img class="img-thumbnail img-responsive" src="img/trade/buy.png">
			</p>
			
			<p>
				只要有网关，通过添加各种交易对，可以交易各种外汇和数字货币。比如USD.Bitstamp/CNY.RippleFox, JPY.Mrr​/CNY.RippleFox, BTC.Bitstamp/CNY.RippleFox, XLM.RippleFox/CNY.RippleFox
			​</p>
			<h4>教程结束，祝你成为瑞波高手！</h4>
		</div>
	</div>
</div>
