<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">授信网关</div>
		<div class="panel-body">
			<p>
				钱包必须先<span class="text-danger">激活</span>才可继续操作。没激活请先加瑞狐QQ群566413562找管理员免费激活。<br>
				选择“授信”菜单。<br>
				<img class="img-thumbnail img-responsive" src="img/trust/trust.png">
			</p>
			
			<p>
				直接点击第一行的“授信CNY”即可完对ripplefox网关的授信。
			</p>
			<p>
				<span class="text-danger">授信是充值和交易的前提。</span>
			</p>
			<p>
				对于不在社区列表的锚点，可以通过联邦协议或手动授信进行操作。
			</p>
			<p>
				​一旦授信成功，就可以去充值啦！
			​</p>
			<a class="btn btn-primary btn-lg" style="width: 300px;" href="#/taobao">
				    继续教程：充值 &gt;&gt;
			</a>
		</div>
	</div>
</div>
