<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">瑞狐提现：安全方便</div>
		<div class="panel-body">
			<h3>使用恒星特有的联邦协议进行提现</h3>
			<h4>提现支付宝，接收方：<span class="text-danger">zfb/账号/姓名*ripplefox.com</span></h4>
			<h4>提现银行卡，接收方：<span class="text-danger">银行名称/账号/姓名*ripplefox.com</h4>
			<p>
				首先选择“发送”菜单，然后选择发送CNY。 
				<img class="img-thumbnail img-responsive" src="img/withdraw/choose.png">
			</p>
			<p>
				提现到支付宝，示例。<br>
				<img class="img-thumbnail img-responsive" src="img/withdraw/alipay.png">
			</p>
			<p>
				提现到银行卡，示例。<br>
				<img class="img-thumbnail img-responsive" src="img/withdraw/bank.png">
			</p>
			<p>
				​<span class="text-danger">更加专用的提现页面正在开发，目前请自行计算手续费。提现费用0.3%，起步费2元。提100请发102，提1000请发1003。</span>
			​</p>
			<a class="btn btn-primary btn-lg" style="width: 300px;" href="#/trade">
				    继续教程：交易 &gt;&gt;
			</a>
		</div>
	</div>
</div>
