<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">瑞狐提现：安全方便</div>
		<div class="panel-body">
			<h3>我们实现了联邦协议，提现只要点菜单，然后填单子就行。</h3>
			<p>
				选择“充提”菜单，然后选择"ripplefox.com"。 
				<img class="img-thumbnail img-responsive" src="img/withdraw/withdraw.png">
			</p>
			<p>
				然后在出现的表格中都填上，最后发送CNY即可。有问题就到群里找管理即可。<br>
			</p>
			<a class="btn btn-primary btn-lg" style="width: 300px;" href="#/trade">
				    继续教程：交易 &gt;&gt;
			</a>
		</div>
	</div>
</div>
