<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">瑞狐：安全、先进、方便</div>
		<div class="panel-body">
			<h3>有钱包就能提现，只要点击发送</h3>
			<h4>提现支付宝，接收方：<span class="text-danger">zfb@ripplefox.com</span></h4>
			<h4>提现银行卡，接收方：<span class="text-danger">yh@ripplefox.com</span></h4>
			<p>
				<img class="img-thumbnail img-responsive" src="img/withdraw/zfb.png">
			</p>
			
			<p>
				提现到银行卡，示例。<br>
				<img class="img-thumbnail img-responsive" src="img/withdraw/yh.png">
			</p>
			<p>
				​<span class="text-danger">钱包会智能计算手续费，比如填入1000元，会出现1003 CNY让你发送。手续费至少收2元。</span>
			​</p>
			<a class="btn btn-primary btn-lg" style="width: 300px;" href="#/trade">
				    继续教程：交易 &gt;&gt;
			</a>
		</div>
	</div>
</div>
